---
import BaseLayout from '../layouts/base_layout.astro';
const pageTitle = 'Toys';
---

<BaseLayout pageTitle={pageTitle}>
	<p>This page demonstrates our products, designs, and ideas. Past, present, and future!</p>
	<ul>
		<li>The Akula Guitar</li>
		<li>The Puppycaster Guitar</li>
		<li>The Dreever Transtortion</li>
		<li>The Unnamed Delay + Modulation Multi-effect</li>
        <!-- Example of a link that forces a full-page reload -->
        <!-- <a href="/toys/dreever" data-astro-reload>Dreever</a> -->
	</ul>
</BaseLayout>
