---
// const { themeColor } = Astro.props;
// import Social from './social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>2024 © Better Noise Toys</p>
    <!-- <Social themeColor={themeColor} platform="reverb" username="Better_Noise_Toys" /> -->
</footer>
