---
---
<div class="nav-links" transition:animate="slide">
    <a href="/">Home</a>
    <a href="/toys/">Toys</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/about/">About Us</a>
</div>
